/**
 * Menu Item Links.
 */
.menu-1-item-link {
	align-items 	: center;
	color 			: $color_gray;
	display			: flex;
	padding 		: 0.5em 1em;
	text-decoration	: none;
	text-transform 	: uppercase;
	transition 		: $trans__default;
	white-space 	: nowrap;

	@include tablet-down {
		font-size 		: 1.25em;
		justify-content	: space-between;
	}

	&:focus {
		outline-color: $color_teal;
	}

	&:hover {
		color: $color_darkgray;
	}

	&:not(:hover) {
		//color: $color_light;
	}
}

.menu-1-item-link-1 { // 2nd-level menu item link, first submenu
	@include phone-down {
		padding-left: 2em;
	}
}

.menu-1-item-link-2 { // 3rd-level menu item link, second submenu
	@include phone-down {
		border-left : none;
		padding-left: 3em;
	}
}