/**
 * Menus
 */
.menu-1-items { // all the ULs
	@include resetlist();

	@include laptop-up {
		@include center();
	}
}

.menu-1-items-closed {
	@include tablet-down {
		display: none;
	}
}

.menu-1-items-open > ul {
	@include tablet-down {
		display: inherit;
	}
}

.menu-1-items-0 { // the 1st-level menu
	@include tablet-down {
		background-color: $color_light;
		bottom 			: 0;
		height 			: 100%;
		left 			: 0;
		padding-right 	: $size__toggle-width;
		padding-top 	: $size__wp-admin-bar-1;
		position 		: fixed;
		overflow 		: auto;
		top 			: 0;
		transform 		: translateX( -100% );
		transition 		: all 0.4s ease;
		width 			: 100%;
		z-index 		: 9998;
	}

	@include adminbar-to-laptop {
		padding-top: $size__wp-admin-bar-2;
	}

	&[aria-expanded="true"] {
		@include tablet-down() {
			transform 	: translateX(0);
			transition 	: all 0.4s ease;
		}
	}

	ul { // all the submenus

		@include laptop-up {
			box-shadow 	: 0 3px 3px rgba($oc-gray-9, 0.2);
			display 	: block;
			left 		: 0;
			opacity 	: 0;
			position 	: absolute;
			transition 	: visibility 0s ease, opacity 0.5s ease;
			visibility 	: hidden;
			z-index 	: 99999;
		}
	}
}

.menu-1-items-1 { // 2nd-level menu
	background-color: $color_darkgray;

	a { // all the links under the 2nd-level menu
		color: $color_light;

		&:hover {
			background-color: $color_darkteal;
			color 			: $color_light;
		}

		@include laptop-up {
			min-width: 200px;
		}
	}

}

.menu-1-items-2 {
	@include tablet-portrait-up {
		left: 100%;
		top	: 0;
	}

	a {
		@include phone-down() {
			border-left : none;
			padding 	: 0.5em 3em;
		}
	}
}