/**
 * Toggle Button.
 */
.menu-1-toggle {
	@include resetbutton( $color_darkteal, $color_darkteal, $color_light );

	color 			: $oc-gray-0;
	font-size		: 1.25em;
	line-height		: 1.5;
	outline 		: 0;
	padding 		: 0.5em;
	position 		: absolute;
	right 			: 0;
	top 			: 50%;
	transform 		: translateY(-50%);
	transition 		: all 0.4s ease;
	width 			: $size__toggle-width;
	z-index 		: 9999;

	&:hover,
	&:focus,
	&:active {
		border		: none;
	}

	&:focus,
	&:active {
		box-shadow: inset 0 0 5px $color_teal;
	}

	@include laptop-up {
		display: none;
	}

	&[aria-expanded="true"] {
		top 		: 0;
		transform 	: translateX(0);
	}

	* {
		pointer-events: none;
	}
}

.menu-1-submenu-toggle {
	@include resetbutton();

	cursor 		: pointer;
	line-height	: 1.5;
	width 		: 2em;

	@include laptop-up {
		display: none;
	}

	.current-menu-1-item & {
		color 		: $color_light;
	}
}

.menu-1-submenu-icon {
	display: none;

	@include laptop-up {
		display 	: inline-block;
		margin-left : 0.25em;
	}
}
