.site-footer {
	align-items 	: center;
	background-color: $color_darkgray;
	color 			: $color_light;
	display 		: flex;
	flex-direction 	: column;
	grid-area		: footer;
	justify-content : center;
	padding 		: 3em;
	width 			: 100%;

	a {
		color: $color_light;
	}
}

.copyright {
	margin-bottom: 1.5em;

	a {
		text-decoration: none;
	}
}

.footer-address {
	margin-bottom: 1.5em;
}