.site-header {
	// DO NOT ADD PADDING HERE! - it screws up menus
	grid-area				: header;
	margin-bottom			: $size__default-bot-marg;
	overflow 				: auto;
	position 				: relative;

	@include tablet-portrait-up {
		overflow 	: visible;
	}

	@include laptop-up {
		display 				: grid;
		grid-template-columns 	: 1fr 3fr;
		padding 				: 0 3em;
	}
}

.wrap-header {
	@include centermax();
}

.site-branding {
}

.site-title {
	margin 			: 0;
	padding-bottom 	: 0.25em;
	padding-top 	: 0.25em;
	text-align 		: center;
}

.site-title-link {
	color 			: $oc-gray-7;
	text-decoration : none;
}

.site-description {
	text-align: center;
}

.custom-logo-link {
	display: block;
}

.custom-logo {

	.site-title & {
		display 	: inline-block;
		max-width 	: 50vw;
	}
}