:root {

}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color_light; /* Fallback for when there is no custom background color defined. */

	/**
	 * Tablet menu - pushing out from left
	 */
	left 					: 0;
	transition 				: all 0.4s ease;
	display 				: grid;
	grid-template-columns	: auto;
	grid-template-areas		: "header" "breadcrumbs" "content" "footer";

}

main {
	grid-area	: content;
	overflow	: hidden;
	padding 	: 1em;
}

hr {
	background-color 	: $oc-gray-3;
	border 				: 0;
	height 				: 1px;
	margin-bottom 		: 1.5em;
}
