// Colors
$errorred: #dc3232; // This is a WP admin color. Do not change.

$color_light: #fff;
$color_gray: #58595b;
$color_teal: #009caf;
$color_red: #e42626;
$color_blue: #2493d1;
$color_orange: #f79625;
$color_purple: #ac7bb2;
$color_green: #a1cc3b;

$color_darkteal: #005a66;
$color_darkgreen: #648025;
$color_darkgray: #2d2d2e;

$color_ltgray: #86878a;